<style scoped lang="scss" src="./package.scss"></style>
<script lang="ts" src="./package.ts"></script>
<template>
  <div class="package">
    <div class="h-screen font-sans login bg-cover">
      <div class="container mx-auto h-full justify-center items-center">
        <div class="w-full w-8/12">
          <div class="leading-loose">
            <div class="m-4 p-10 bg-white rounded shadow-xl">
              <h1>Package - {{ thispackage.packageItem.description }}</h1>

              <div class="grid grid-cols-2 gap-4">
                <p class="font-bold">Tracking Number</p>
                <p>{{ thispackage.packageItem.trackingNumber }}</p>

                <p class="font-bold">Description</p>
                <p>{{ thispackage.packageItem.description }}</p>

                <p class="font-bold">Status</p>
                <p>{{ thispackage.packageItem.status }}</p>

                <p class="font-bold">Seller</p>
                <p>{{ thispackage.packageItem.seller }}</p>

                <p class="font-bold">Weight</p>
                <p>{{ thispackage.packageItem.weight }} LBS</p>

                <p class="font-bold">Value</p>
                <p>{{ thispackage.packageItem.value | currency }}</p>

                <p class="font-bold" v-if="thispackage.invoices.length !=0 ">Seller Invoice(s)</p>
                <div>
                  <p v-for="invoice in thispackage.invoices" :key="thispackage.id">
                    <b-dropdown aria-role="list">
                      <button class="button is-text" slot="trigger" slot-scope="{ active }">
                        <b-icon icon="file-invoice" size="is-medium" class="float-left pr-4"></b-icon>
                        <p style="white-space: break-spaces;">{{ invoice.name }}</p>
                      </button>

                      <b-dropdown-item
                        aria-role="listitem"
                        tag="a"
                        @click="downloadDocument(invoice.type + ';base64,'+ invoice.data)"
                      >View</b-dropdown-item>
                      <b-dropdown-item
                        aria-role="listitem"
                        tag="a"
                        :download="invoice.name"
                        :href="invoice.type + ';base64,'+ invoice.data"
                      >Download</b-dropdown-item>
                      <b-dropdown-item
                        aria-role="listitem"
                        tag="a"
                        @click="removeInvoice(invoice.id)"
                      >Delete</b-dropdown-item>
                    </b-dropdown>
                  </p>
                </div>
              </div>
              <section class="ml-auto grid grid-cols-1"  v-if="!isupload">
                <div class="mx-auto flex">
                  <b-button type="is-text" @click="showUpload()">
                    <b-icon icon="plus" size="is-small" ></b-icon> Add Additional Invoices
                  </b-button>
                </div>
              </section>
              <section class="ml-auto grid grid-cols-1" v-if="isupload" >
                <div class="mx-auto">
                  <b-field class="mx-auto">
                    <b-upload v-model="file" drag-drop>
                      <section class="section">
                        <div class="content has-text-centered">
                          <p>
                            <b-icon icon="upload" size="is-large"></b-icon>
                          </p>
                          <p>Drop your file here or click to upload</p>
                        </div>
                      </section>
                    </b-upload>
                  </b-field>
                </div>
                <div class="tags mx-auto">
                  <span class="file-name" v-if="file">
                    {{file.name}}
                    <button class="delete is-small" type="button"></button>
                  </span>
                </div>
                <div class="mx-auto pb-10">
                  <b-button type="is-danger" rounded @click="upload()">Save</b-button>
                </div>
              </section>

              <div class="[ border-t-2 border-gray-300 ]">
                <div class="[ grid grid-cols-1 gap-4 ]">
                  <div class="col-span-2">
                    <div class="[ bg-white ] [ grid grid-cols-2 ] [ p-4 ]">
                      <div class="text-xl">Billing</div>
                      <div class="[ ml-auto ]">
                        <b-button type="is-danger" rounded>Use Points</b-button>
                      </div>
                    </div>
                    <b-table :striped='true' :bordered='true' :data="data" >
                       <b-table-column
                        field="name"
                        label="DESCRIPTION"
                        v-slot="props"
                      >{{ props.row.name }}</b-table-column>

                      <b-table-column
                        field="value"
                        label="AMOUNT"
                        numeric
                        v-slot="props"
                      >{{ props.row.value | currency }}</b-table-column>
                    </b-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>