<style scoped lang="scss" src="./notfound.scss"></style>
<script lang="ts" src="./notfound.ts"></script>
<template>
<div class="notfound">
  <div class="h-screen font-sans login bg-cover">
    <div class="container mx-auto h-full flex flex-1 justify-center items-center">
      <div class="w-full max-w-lg">
        <div class="leading-loose">
          <div class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
            <p class="text-gray-800 font-medium text-center text-xl font-bold">404 - Not Found</p>
            <button
              class="px-4 py-1 text-white font-light tracking-wider bg-red-300 hover:bg-red-900 rounded ml-24"
              type="submit"
              v-on:click="navigateTo('/')"
            >Take Me Back To Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>