<style scoped lang="scss" src="./login.scss"></style>
<script lang="ts" src="./login.ts"></script>
<template>
  <div class="[ login ][ h-screen ][ grid ]">
    <div class="[ h-full ][ grid justify-around ]">
      <div class="[ leading-loose ][ [ grid ]">
        <form class="[ grid ]" v-on:submit.prevent="login">
          <div
            class="[ p-10 ][ bg-white ][ rounded-lg ][ self-center ][ shadow-2xl ][ grid grid-col-1 gap-6 ]"
          >
            <div class="max-w-xl">
              <div class="w-3/5 mx-auto">
                <b-image :src="logo" alt="logo"></b-image>
              </div>
            </div>
            <div class="[ text-center ]">
              <h2 class="[ text-4xl font-medium ]">Welcome!</h2>
              <p class="[ text-xl ]">We're glad you're here!</p>
            </div>
            <div>
              <b-field label="Email" label-position="on-border">
                <b-input placeholder="Email" type="email" icon="envelope" v-model="username"></b-input>
              </b-field>
            </div>

            <div>
              <b-field label="Password" label-position="on-border">
                <b-input
                  placeholder="Password"
                  type="password"
                  icon="lock"
                  v-model="password"
                  password-reveal
                ></b-input>
              </b-field>
            </div>
            <div class="[ text-center ]">
              <p class="text-red" v-if="error"> Invail username or Password </p>
            </div>

            <div class="[ text-center ]">
              <a href="#" class="text-red">Forgot Your Password?</a>
            </div>

            <div>
              <b-button type="is-danger" class="w-full" native-type="submit">Login</b-button>
            </div>

            <div class="[ text-center ]">
              <p>
                Not Registered
                <a href="/register" class="text-red">Join RedSeat</a>
              </p>
            </div>
          </div>
        </form>
       <Loading v-bind:isFullPage="isFullPage" v-bind:isLoading="loading" > </Loading>
      </div>
    </div>
  </div>
</template>