<style scoped lang="scss" src="./loading.scss"></style>
<script lang="ts" src="./loading.ts"></script>
<template>
  <div class="loading">
        <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>