<style scoped lang="scss" src="./dashboard.scss"></style>
<script lang="ts" src="./dashboard.ts"></script>


<template>
  <div class="[ dashboard ][ h-screen ][ grid ]">
    <!--Container -->

    <div class="[ h-full ] [ justify-center items-center ]">
      <div class="w-full">
        <div class="leading-loose">
          <div class="m-4 p-10 bg-white rounded shadow-xl">
            <div class="[ h-full ][ grid-cols-1 justify-around ]">
              <div class="[ pt-10 pr-10 px-10 grid grid-cols-1 gap-4 ]">
                <div class="[ grid sm:grid-cols-1 md:grid-cols-4 gap-4 ]">
                  <cards title="Ready" :total="ready"></cards>
                  <cards title="In Transit" :total="transit"></cards>
                  <cards title="Balance" :total="balance"></cards>
                  <cards title="Points" :total="points"></cards>
                </div>
                <div class="[ grid grid-cols-1 gap-4 ]">
                  <div class="col-span-2">
                    <div class="[ bg-white ] [ grid grid-cols-2 ] [ p-4 ]">
                      <div class="text-xl">My Packages</div>
                      <div class="[ ml-auto ]">
                        <b-button type="is-danger" rounded>Create Pre-Alert</b-button>
                      </div>
                    </div>
                    <b-table
                      :focusable="true"
                      :data="packages"
                      :columns="columns"
                      selectable
                      @select="navigate"
                    ></b-table>
                  </div>
                </div>

                <div class="[ grid grid-cols-3 gap-4 ]">
                  <div class="[ bg-white ] [ border-l-8 ] [ border-red ] [ shadow-lg ]">
                    <p class="[ no-underline text-black text-center text-2xl ]">My Shipping Address</p>
                    <p class="[ no-underline text-black text-center text-sm ]">{{ fname +' '+lname }}</p>
                    <p class="[ no-underline text-black text-center text-sm ]">6858 NW 75th Street</p>
                    <p class="[ no-underline text-black text-center text-sm ]">Ste 3 RSC{{ id }}</p>
                    <p class="[ no-underline text-black text-center text-sm ]">Miami Fl 33166</p>
                  </div>


                  <div
                    class="[ bg-white ] [ bg-white ] [ border-l-8 ] [ border-red ] [ shadow-lg ]"
                  >
                    <p class="[ no-underline text-black text-center text-2xl ]">Schedule</p>

                    <div class="[ mx-auto pb-4 float-right ]">
                      <b-button type="is-danger" class="mx-24 w-48" rounded>Schedule Delivery</b-button>
                    </div>

                    <div class="[ mx-auto pb-4 float-right ]">
                      <b-button type="is-info" class="mx-24 w-48" rounded>Express Pickup</b-button>
                    </div>
                  </div>

                  <div
                    class="[ bg-white ] [ bg-white ] [ border-l-8 ] [ border-red ] [ shadow-lg ]"
                  >
                    <p class="[ no-underline text-black text-center text-2xl ]">Feedback</p>
                    <b-field>
                      <b-input value custom-class="ml-10 w-10/12"></b-input>
                    </b-field>
                    <div class="[ mx-auto pb-4 float-right ]">
                      <b-button type="is-info" rounded>
                        Send
                        Feedback
                      </b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

