<style scoped lang="scss" src="./minimal.scss"></style>
<script lang="ts" src="./minimal.ts">
</script>
<template>
    <div class="[ grid ][ w-full ][ bg-gray-300 ]">
      <transition name="fade">
        <router-view />
      </transition>
    </div>
</template>