/**
 * Entry point for applcation-wide CSS.
 */
 @import url(https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap);

 $font-heading: 'Rubik', sans-serif;
 $font-body: 'Karla', sans-serif;
 * {
   margin: 0;
   padding: 0;
 }
 
 h1,h2,h3,h4,h5,h6{
   font-family: $font-heading
 }
 
 #app {
   font-family: $font-body;
 }

@import "bulma";
@import "tailwind";




//TODO: import additional global CSS here.
