<style scoped lang="scss" src="./cards.scss"></style>
<script lang="ts" src="./cards.ts"></script>
<template>
  <div
    class=" [cards ] [ shadow-lg ] [ bg-white ] [ border-l-8 ] [ hover:bg-red border-red ]  [ h-40 ] "
  >
    <div class="[ p-10 ] [ grid  grid-cols-1 ]">
      <a href="#" class="[ no-underline text-black text-center text-2xl ]">{{title}}  </a>
      <a href="#" class="[ no-underline text-black text-center text-2xl ]">  {{total}}  </a>
    </div>
  </div>
</template>