<style scoped lang="scss" src="./register.scss"></style>
<script lang="ts" src="./register.ts"></script>
<template>
  <div class="[ register ][ h-screen ][ grid ]">
    <div class="[ h-full ][ grid justify-around ]">
      <div class="[ leading-loose ][ grid ]">
        <ValidationObserver v-slot="{ invalid }" class="[ grid ]"> 

        <form class="[ grid ]" v-on:submit.prevent="signup">
          <div
            class="[ p-10 ][ bg-white ][ rounded-lg ][ self-center ][ shadow-2xl ][ grid grid-col-1 gap-6 ]"
          >
            <div class="max-w-2xl">
              <div class="w-3/5 mx-auto">
                <b-image :src="logo" alt="logo"></b-image>
              </div>
            </div>
            <div class="[ text-center ]">
              <h2 class="[ text-4xl font-medium ]">Sign up, it's easy and free!</h2>
              <p class="[ text-xl ]">Thank you for choosing RedSeat, we're glad you're here!</p>
            </div>
            <div class="[ grid grid-cols-2 gap-2 ]">
              <div class="col-span-1">
                <ValidationProvider rules="required" name="First Nam" v-slot="{ errors, valid }">
                  <b-field
                    label="First Name"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors"
                  >
                    <b-input placeholder="First Name" type="text" icon="user" v-model="fname"></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
              <div class="col-span-1">
                <ValidationProvider rules="required" name="Last Name" v-slot="{ errors, valid }">
                  <b-field
                    label="Last Name"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors"
                  >
                    <b-input placeholder="Last Name" type="text" icon="user" v-model="lname"></b-input>
                   
                  </b-field>
                </ValidationProvider>
              </div>
            </div>

            <div class>
              <ValidationProvider rules="required|email" name="Email" v-slot="{ errors, valid }">
                <b-field
                  label="Email"
                  label-position="on-border"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                  :message="errors"
                >
                  <b-input placeholder="Email" type="email" icon="envelope" v-model="email"></b-input>
                
                </b-field>
                   <span v-if="error" class="text-red"> Email is already in use </span>
              </ValidationProvider>
            </div>

            <div class>
              <ValidationProvider rules="required" name="Cell Number" v-slot="{ errors, valid }">
                <b-field
                  label="Cell Number"
                  label-position="on-border"
                  :type="{ 'is-danger': errors[0], 'is-success': valid }"
                  :message="errors"
                >
                  <b-input placeholder="Cell Number" type="text" icon="phone" v-model="phone"></b-input>
                </b-field>
              </ValidationProvider>
            </div>

            <div class="[ grid grid-cols-2 gap-2 ]">
              <div class="col-span-1">
                <ValidationProvider
                  rules="required"
                  name="Address Line 1"
                  v-slot="{ errors, valid }"
                >
                  <b-field
                    label="Address Line 1"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors"
                  >
                    <b-input
                      placeholder="Address Line 1"
                      type="text"
                      icon="map-marked"
                      v-model="addressLine1"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
              <div class="col-span-1">
                <ValidationProvider
                  rules="required"
                  name="Address Line 2"
                  v-slot="{ errors, valid }"
                >
                  <b-field
                    label="Address Line 2"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors"
                  >
                    <b-input
                      placeholder="Address Line 2"
                      type="text"
                      icon="map-marked"
                      v-model="addressLine2"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
              <div class="col-span-2">
                <ValidationProvider rules="required" name="Zip Code" v-slot="{ errors, valid }">
                  <b-field
                    label="Zip Code"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid } "
                    :message="errors"
                  >
                    <b-input placeholder="Zip Code" type="text" icon="map-marked" v-model="zipCode"></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
            </div>

            <div class="[ grid grid-cols-2 gap-2 ]">
              <div class="col-span-1">
                <ValidationProvider rules="required" name="Password" v-slot="{ errors, valid }">
                  <b-field
                    label="Password"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid }"
                    :message="errors"
                  >
                    <b-input
                      placeholder="Password"
                      type="password"
                      icon="lock"
                      password-reveal
                      v-model="password"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
              <div class="col-span-1">
                <ValidationProvider
                  rules="required|confirmed:Password"
                  name="Confrim Password"
                  v-slot="{ errors, valid }"
                >
                  <b-field
                    label="Confrim Password"
                    label-position="on-border"
                    :type="{ 'is-danger': errors[0], 'is-success': valid } "
                    :message="errors"
                  >
                    <b-input
                      placeholder="Password"
                      type="password"
                      icon="lock"
                      password-reveal
                      v-model="passwordConfirmation"
                    ></b-input>
                  </b-field>
                </ValidationProvider>
              </div>
            </div>

            <div>
              <b-button type="is-danger" class="w-full" :disabled="invalid"  native-type="submit">Register</b-button>
            </div>
            <div class="[ text-center ]">
              <p>
                Already a memebr
                <a href="/login" class="text-red">Join Login</a>
              </p>
            </div>
          </div>
        </form>
          </ValidationObserver>
        <Loading v-bind:isFullPage="isFullPage" v-bind:isLoading="loading"></Loading>
      </div>
    </div>
  </div>
</template>