<style scoped lang="scss" src="./default.scss"></style>
<script lang="ts" src="./default.ts">
</script>
<template>
  <div class="[ grid ][ w-full ][ bg-gray-300 ]">
    <section>
      <b-navbar :fixed-top="true"	> 
        <template slot="brand">
          <b-navbar-item>
            <b-button type="is-text" @click="open()">
              <b-icon pack="fas" icon="bars" size="is-large" class="hover:text-red"></b-icon>
            </b-button>
          </b-navbar-item>
        </template>
        <template slot="start"></template>

        <template slot="end">
          <b-navbar-dropdown :label="name">
            <b-navbar-item href="#">My Account</b-navbar-item>
            <b-navbar-item href="#">Logout</b-navbar-item>
          </b-navbar-dropdown>
        </template>
      </b-navbar>
    </section>
    <section>
      <b-sidebar
        type="is-white"
        :fullheight="true"
        :fullwidth="false"
        :overlay="false"
        :right="false"
        v-model="isOpen"
      >
        <div>
          <b-button type="is-text" @click="close()">
            <b-icon pack="fas" icon="times" size="is-large" class="hover:text-red"></b-icon>
          </b-button>
        </div>
        <div class="[ grid grid-cols-1 gap-2 ] [ p-10 ]">
          <div>
            <b-image :src="logo" alt="logo"></b-image>
          </div>
          <b-menu>
            <b-menu-list>
              <b-menu-item
                label="Dashboard"
                icon="tachometer-alt"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>
            <b-menu-list>
              <b-menu-item icon="file-invoice" label="Billing">
                <b-menu-item label="Account data"></b-menu-item>
                <b-menu-item label="Addresses"></b-menu-item>
              </b-menu-item>
            </b-menu-list>
            <b-menu-list>
              <b-menu-item
                label="Secondary Users"
                icon="user-friends"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>

            <b-menu-list>
              <b-menu-item
                label="Authorized Pickup"
                icon="user-plus"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>

            <b-menu-list>
              <b-menu-item
                label="Contact Us"
                icon="envelope"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>
            <b-menu-list>
              <b-menu-item
                label="Settings"
                icon="cogs"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>

            <b-menu-list>
              <b-menu-item
                label="Deliveries"
                icon="shipping-fast"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>

            <b-menu-list>
              <b-menu-item
                label="Redeem Points"
                icon="wallet"
                tag="router-link"
                target="_blank"
                to="/expo"
              ></b-menu-item>
            </b-menu-list>
          </b-menu>
        </div>
      </b-sidebar>
    </section>
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>